<p>Ol치 <%= @email %>!</p>

<% if @resource.try(:unconfirmed_email?) %>
  <p>Estamos entrando em contato para notific치-lo de que seu e-mail est치 sendo alterado para <%= @resource.unconfirmed_email %>.</p>
<% else %>
  <p>Estamos entrando em contato para notific치-lo de que seu e-mail foi alterado para <%= @resource.email %>.</p>
<% end %>
