<p>Hello <%= @email %>!</p>

<% if @resource.try(:unconfirmed_email?) %>
  <p>Estamos entrando em contato para notificá-lo de que seu e-mail está sendo alterado para <%= @resource.unconfirmed_email %>.</p>
<% else %>
  <p>Estamos entrando em contato para notificá-lo de que seu e-mail foi alterado para <%= @resource.email %>.</p>
<% end %>
